<!-- templates/switch_control.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch Control</title>
</head>
<body>
    <h1>Control switch directly</h1>
    <p>Current State: <strong id="switchState">{{ state }}</strong></p>
    <button onclick="changeState('ON')">Turn ON</button>
    <button onclick="changeState('OFF')">Turn OFF</button>
    <h1>Manual mode switch</h1>
    <p>Current State: <strong id="manualControl">{{ manual_control }}</strong></p>
    <button onclick="changeMode('ON')">Turn ON manual mode</button>
    <button onclick="changeMode('OFF')">Turn OFF manual mode</button>

    <script>
        function changeState(state) {
            fetch('/switch/' + state, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('switchState').textContent = data.state;
                })
                .catch(error => console.error('Error:', error));
        }
        function changeMode(state) {
            fetch('/mode/' + state, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('manualControl').textContent = data.manual_control;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
